<footer class="footer">
  <div class="container">
    <div class="grid grid-4">
      <div class="address-block">
  <h3>Novatalk</h3>
  <p class="lead">
    Level 2, iLabs Centre, Oval Building, Plot No.18, Inorbit Mall Rd<br>
    Silpa Gram Craft Village, Madhapur, Hyderabad<br>
    Telangana 500081
  </p>
  <p class="lead">
    Phone: 040 4433 4213<br>
    Email: <a href="mailto:connect@novasarc.com">connect@novasarc.com</a>
  </p>
</div>

      <div>
        <h3>Integrations</h3>
        <ul>
          <li><a routerLink="/integrations">All integrations</a></li>
          <li>Chat Widget</li><li>HelpDesk</li><li>Shopify</li><li>Freshdesk</li>
          <li>LiveChat</li><li>WordPress</li><li>Zapier</li><li>Zendesk</li>
          <li>Facebook Messenger</li><li>Slack</li>
        </ul>
      </div>
      <div>
        <h3>Resources</h3>
        <ul><li>Help Center</li><li>API &amp; Developers</li><li>Case Studies</li></ul>
      </div>
      <div>
        <h3>Company</h3>
        <ul>
          <li><a routerLink="/how-it-works">How it Works</a></li>
          <li><a routerLink="/features">Features</a></li>
          <li><a routerLink="/pricing">Pricing</a></li>
          <li><a routerLink="/integrations">Integrations</a></li>
          <li><a routerLink="/resources">Resources</a></li>
        </ul>
      </div>
    </div>
    <p class="lead" style="margin-top:24px">Copyright © 2025 Novas Arc Consulting Pvt. Ltd. All Rights Reserved • <a href="#">Privacy Policy</a> • <a href="#">Terms &amp; Conditions</a></p>
  </div>
</footer>